<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<property name="LOG_DIR" value="/var/tmp/logs/flightReservation" />-->
    <!--<property name="FILE_PREFIX" value="flightreservation" />-->

    <!--<appender name="FILE"-->
              <!--class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${LOG_DIR}/${FILE_PREFIX}.log</file>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<Pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</Pattern>-->
        <!--</encoder>-->

        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>${LOG_DIR}/archived/${FILE_PREFIX}.%d{yyyy-MM-dd}.%i.log-->
            <!--</fileNamePattern>-->
            <!--<timeBasedFileNamingAndTriggeringPolicy-->
                    <!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<maxFileSize>10MB</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->

    <!--<root leve="info">-->
        <!--<appender-ref ref="FILE" />-->
    <!--</root>-->

</configuration>