<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../static/css/app.css" th:href="@{/css/app.css}"/>
    <title>Add new flight</title>
</head>
<body>
<div class="container">
    <div class="form_complete_reserve">
        <!--if there is an laert message then-->
        <div th:if="${msg}" class="alert alert-primary" >
            <strong th:if="${msg}" th:text="${msg}"></strong>
        </div>

        <h2 class="box-heading">Add a new Flight</h2>
        <br>

        <form method="post" th:action="@{/admin/addFlight}" th:object="${flight}">

            <div class="form-group row">
                <label for="source" class="col-sm-4 col-form-label">From</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="source" name="source">
                </div>
            </div>
            <div class="form-group row">
                <label for="destination" class="col-sm-4 col-form-label">To</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="destination" name="destination">
                </div>
            </div>

            <div class="form-group row">
                <label for="operatingAirlines" class="col-sm-4 col-form-label">Operating Airlines</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="operatingAirlines" name="operatingAirlines">
                </div>
            </div>
            <div class="form-group row">
                <label for="estimatedDepartureTime" class="col-sm-4 col-form-label">Date of Departure</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="dateOfDeparture" name="dateOfDeparture">

                </div>
            </div>
            <div class="form-group row">
                <label for="estimatedDepartureTime" class="col-sm-4 col-form-label">Estimated Departure</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="estimatedDepartureTime" name="estimatedDepartureTime">

                </div>
            </div>



            <button type="submit" class="btn btn-lg btn-success">Add New Flight</button>

        </form>
    </div>
</div>
    <script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
</body>
</html>