<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../static/css/app.css" th:href="@{/css/app.css}"/>
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="body-box">
            <!--if there is an laert message then-->
            <div th:if="${msg}" class="alert alert-primary" >
                <strong th:if="${msg}" th:text="${msg}"></strong>
            </div>
            <h3 class="box-heading">User Login</h3>
            <br>
            <form method="post" th:action="@{/login}">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
    <script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
</body>
</html>